.hero-image {
    display: block;
      margin-left: auto;
      margin-right: auto;
}
.hero-image img {
    display: block;
    margin: auto;
    border-radius: 8px;
    max-height: 40vh;
    aspect-ratio: auto;
    
}
.hero-image-credit {
    text-align: center;
    font-size: 80%;
}
.prose {
    width: 90%;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: rgb(var(--gray-dark));
    font-size: 100%;
}
.title {
    margin-bottom: 1em;
    padding: 1em 0;
    text-align: center;
    line-height: 1;
}
.title h1 {
    margin: 0 0 0.5em 0;
    font-size: 300%;
}
.date {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
}
.last-updated-on {
    font-style: italic;
}
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 100%;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}