/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

@font-face {
	font-family: 'OpenSans';
	src: url('/fonts/OpenSans-Regular.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'OpenSans';
	src: url('/fonts/OpenSans-Regular.woff2') format('woff2');
	font-style: normal;
	font-display: swap;
}
body {
	font-family: 'OpenSans', sans-serif;
	padding: 0;
	text-align: left;
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
    overflow-y: scroll; /* Show vertical scrollbar */
	font-size: 1em;
	line-height: 1.7;
	background: linear-gradient(var(--gray-gradient)) no-repeat;
	background-color: black;
	color: darkgrey;
}

main {
	padding-left: 5%;
	padding-right: 5%;
	max-width: calc(100% - 2em);
	/* margin: auto; */
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: white;
	line-height: 1.2;
}
h1 {
	font-size: 3.052em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.56em;
}
h4 {
	font-size: 1.25em;
}
h5 {
	font-size: 1.12em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: lightblue;
	outline: 0;
}
a:hover {
	color: lightgoldenrodyellow;
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 1em;
}
textarea {
	width: 100%;
	font-size: 1em;
}
input {
	font-size: 1em;
}
table {
	width: 100%;
}
img {
	width: auto;
	border-radius: 1px;
	display: block;
	padding-bottom: 2em;
	margin-left: auto;
	margin-right: auto;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}
pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
  }
  blockquote p {
	display: inline;
  }
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}
strong {
	font-weight: bold;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}

errorbox {
	display: grid;
	align-items: center;
	justify-content: center;
	/*
	margin-left: 10px;
	margin-right: 10px;
	*/
	grid-gap: 10px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.copy-code {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #ffffff;
	padding: 0.25rem 0.5rem;
	font-size: 1.25rem;
	line-height: 1rem;
  }
  
  .copy-code:hover {
	background-color: #d9ff00;
  }