header {
    margin: 0;
    padding: 0 1em;
    background-image: linear-gradient(green, black);
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    color: white;
    width: 100%;
    
h2 {
    margin: 0;
    font-size: 200%;
}
h2 a,
h2 a.active {
    text-decoration: none;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
}
nav a {
    padding: 1em 0.5em;
    color: var(--yellow);
    border-bottom: 4px solid transparent;
    text-decoration: none;
}
nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
    color: red;
}
.middle-links {
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle-links a {
    border: none;
}
.right-links,
.right-links a {
    display: flex;
    margin-right: 5%;
    border: none;
}
@media (max-width: 720px) {
    .right-links {
        display: flex;
    }
}
