---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import HeadShot from '../assets/DavidGroves.jpg';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { ViewTransitions } from 'astro:transitions';
import '../styles/index.css';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h2 class="text-justify text-2xl p-8">
				The personal homepage of David Groves. By profession a multidisciplinary IT professional having worked as a Network Architect, Software Engineer and a Platform Engineer. 
				By hobby, a traveller, <a href="/photos/">photographer</a> and <a href="/dogs/">houndfather</a>.
			</h2>
			<p>
				<Image src={HeadShot} alt="Headshot of David Groves">
			</p>
		</main>
		<Footer />
	</body>
</html>
