---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import PhotoTableRow from "../components/PhotoTableRow.astro";
import "../styles/tables.css";
import "../styles/sortable.css";

---

<!doctype html>
<html lang="en">
  <script
    src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/sortable.min.js"
  ></script>

  <BaseHead title={SITE_TITLE} photos />

  <Header title={SITE_TITLE} />
  
  <table class="sortable searchable">
    <thead>
      <tr>
        <th>Year</th>
        <th>Country</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <PhotoTableRow
        year="2020"
        country="United States"
        location="New Orleans"
        link="https://photos.app.goo.gl/X8NARyZjvHGyAULR6"
      />
      <PhotoTableRow
        year="2020"
        country="Italy"
        location="Milan"
        link="https://photos.app.goo.gl/d2ZUrcQWXBWPG2XT8"
      />
      <PhotoTableRow
        year="2019"
        country="Thailand"
        location="Krabi"
        link="https://photos.app.goo.gl/VTqNxiHXb1JmdXaj9"
      />
      <PhotoTableRow
        year="2019"
        country="England"
        location="Kew Gardens, London"
        link="https://photos.app.goo.gl/foh53PCFf3UtsZu66"
      />
      <PhotoTableRow
        year="2019"
        country="Portugal"
        location="Lisbon"
        link="https://photos.app.goo.gl/2MQj6BiJAhVKSQYD9"
      />
      <PhotoTableRow
        year="2019"
        country="United States"
        location="Las Vegas"
        link="https://photos.app.goo.gl/RDVvT1SDM9NuWxEz9"
      />
      <PhotoTableRow
        year="2019"
        country="Spain"
        location="Seville"
        link="https://photos.app.goo.gl/Ba5CSbK2iXXfAEzV8"
      />
      <PhotoTableRow
        year="2019"
        country="Sweden"
        location="Stockholm"
        link="https://photos.app.goo.gl/G6GjrdJMvDqYhnr98"
      />
      <PhotoTableRow
        year="2019"
        country="Canada"
        location="Niagara"
        link="https://photos.app.goo.gl/b4HR8PChZwW5NS8W9"
      />
      <PhotoTableRow
        year="2019"
        country="Canada"
        location="Toronto"
        link="https://photos.app.goo.gl/Y16HwPPW9uBKFFK46"
      />
      <PhotoTableRow
        year="2019"
        country="Canada"
        location="Montréal"
        link="https://photos.app.goo.gl/uBEswqm6bxbPR1p6A"
      />
      <PhotoTableRow
        year="2019"
        country="England"
        location="London Wetlands Trust"
        link="https://photos.app.goo.gl/5T2apVzshoWkxbQN9"
      />
      <PhotoTableRow
        year="2019"
        country="Northern Ireland"
        location="Belfast"
        link="https://photos.app.goo.gl/oDXZLDF83oxiVgAa7"
      />
      <PhotoTableRow
        year="2019"
        country="Germany"
        location="Hannover"
        link="https://photos.app.goo.gl/xPjwJ94pJCnb3emA8"
      />
      <PhotoTableRow
        year="2019"
        country="South Africa"
        location="Cape Town"
        link="https://photos.app.goo.gl/rPAuWv87H8ChR6hz9"
      />
      <PhotoTableRow
        year="2019"
        country="South Africa"
        location="Robben Island"
        link="https://photos.app.goo.gl/tAywT4SEmcpe6YoU7"
      />
      <PhotoTableRow
        year="2019"
        country="South Africa"
        location="Cape Point"
        link="https://photos.app.goo.gl/61aFQRegvbWs9xTq5"
      />
      <PhotoTableRow
        year="2019"
        country="South Africa"
        location="Franschhoek & Stellenbosch"
        link="https://photos.app.goo.gl/4kqygVvueMSUfh916"
      />
      <PhotoTableRow
        year="2019"
        country="South Africa"
        location="Bird Sanctuary"
        link="https://photos.app.goo.gl/vC1Ge6Zx7HC6ugN88"
      />
      <PhotoTableRow
        year="2019"
        country="The Netherlands"
        location="The Hague"
        link="https://photos.app.goo.gl/usoyD42Du6TXmHtp6"
      />
      <PhotoTableRow
        year="2018"
        country="Germany"
        location="Hamburg"
        link="https://photos.app.goo.gl/cS3zy1UuWqx3gSPp6"
      />
      <PhotoTableRow
        year="2018"
        country="England"
        location="Shrewsbury"
        link="https://photos.app.goo.gl/CYAqKcP2ncLwtPYSA"
      />
      <PhotoTableRow
        year="2018"
        country="Scotland"
        location="Dundee and Arbroath"
        link="https://photos.app.goo.gl/ocizxXiEzSYEZbxb8"
      />
      <PhotoTableRow
        year="2018"
        country="Qatar"
        location="Doha"
        link="https://photos.app.goo.gl/54AYPAPM5mfgg4se7"
      />
      <PhotoTableRow
        year="2018"
        country="Hong Kong"
        location="Hong Kong"
        link="https://photos.app.goo.gl/VdqVh2jSA3Gf3Txr9"
      />
      <PhotoTableRow
        year="2018"
        country="Macau"
        location="Macau"
        link="https://photos.app.goo.gl/kh7ND7R1tMMRjrh49"
      />
      <PhotoTableRow
        year="2018"
        country="Belgium"
        location="Brussels"
        link="https://photos.app.goo.gl/wZAgdbEbzHVRTAjMA"
      />
      <PhotoTableRow
        year="2018"
        country="United States"
        location="New York / New Jersey"
        link="https://photos.app.goo.gl/SJvgMzBrZcjN4Qnv9"
      />
      <PhotoTableRow
        year="2018"
        country="United States"
        location="Phoenix"
        link="https://photos.app.goo.gl/nJgj6sJs7ZKQ4t5w9"
      />
      <PhotoTableRow
        year="2018"
        country="Spain"
        location="Barcelona"
        link="https://photos.app.goo.gl/tEfdcgVqJ6mvEAge7"
      />
      <PhotoTableRow
        year="2018"
        country="Jamaica"
        location="Montego Bay"
        link="https://photos.app.goo.gl/zyQ1XOrq7TawOTBg2"
      />
      <PhotoTableRow
        year="2018"
        country="England"
        location="Manchester"
        link="https://photos.app.goo.gl/E8UGqa1VSZ24kjDy1"
      />
      <PhotoTableRow
        year="2018"
        country="Denmark"
        location="Copenhagen"
        link="https://photos.app.goo.gl/gEFB4q1qlYS3jTmw2"
      />
      <PhotoTableRow
        year="2018"
        country="Wales"
        location="North Coast"
        link="https://photos.app.goo.gl/eWThiL4hn0BjsyPz2"
      />
      <PhotoTableRow
        year="2018"
        country="Estonia"
        location="Tallinn"
        link="https://photos.app.goo.gl/x5rac4YLsETNt0S72"
      />
      <PhotoTableRow
        year="2018"
        country="England"
        location="Bristol"
        link="https://photos.app.goo.gl/6tDgsQ56Vz0I6XIG3"
      />
      <PhotoTableRow
        year="2018"
        country="Brazil"
        location="Rio De Janerio"
        link="https://photos.app.goo.gl/ApCMpGBLnGzr4kFF3"
      />
      <PhotoTableRow
        year="2018"
        country="Austria"
        location="Vienna"
        link="https://photos.app.goo.gl/CMMSECSF7KFRycRX2"
      />
      <PhotoTableRow
        year="2018"
        country="England"
        location="London - Lumiere"
        link="https://photos.app.goo.gl/7VJRNZmbxf2mIxHr1"
      />
      <PhotoTableRow
        year="2017"
        country="Germany"
        location="Nuremberg"
        link="https://photos.app.goo.gl/ep9f82ZuvDC4vhed2"
      />
      <PhotoTableRow
        year="2017"
        country="Portugal"
        location="Lisbon"
        link="https://photos.app.goo.gl/PXEX9GEolByc16Z53"
      />
      <PhotoTableRow
        year="2017"
        country="Germany"
        location="Berlin"
        link="https://photos.app.goo.gl/TIN6IMw2jNSoUHsG3"
      />
      <PhotoTableRow
        year="2017"
        country="Luxembourg"
        location="Luxembourg"
        link="https://photos.app.goo.gl/CcIjaz5gK1CrQZbu1"
      />
      <PhotoTableRow
        year="2017"
        country="United States"
        location="Charleston and Bull Island"
        link="https://goo.gl/photos/iHyrm28yyZGp2A7E7"
      />
      <PhotoTableRow
        year="2017"
        country="United States"
        location="Miami"
        link="https://goo.gl/photos/obtq2sSgaKzRw6pr9"
      />
      <PhotoTableRow
        year="2017"
        country="England"
        location="Gloucester"
        link="https://photos.app.goo.gl/am6a3zEikj1WIgxc2"
      />
      <PhotoTableRow
        year="2017"
        country="Hungary"
        location="Budapest"
        link="https://goo.gl/photos/YgQzuZeqpTW4cRdd6"
      />
      <PhotoTableRow
        year="2017"
        country="Jersey"
        location="Jersey"
        link="https://goo.gl/photos/9uTnmF2BUENDmnsW6"
      />
      <PhotoTableRow
        year="2017"
        country="Portugal"
        location="Porto / Gaia"
        link="https://goo.gl/photos/umDxzVB9KgfMnigN6"
      />
      <PhotoTableRow
        year="2017"
        country="Portugal"
        location="Douro Valley"
        link="https://goo.gl/photos/5gbM7cQMsoq13zyz9"
      />
      <PhotoTableRow
        year="2017"
        country="Italy"
        location="Venice"
        link="https://goo.gl/photos/MDdbhXRkEMeaKTR26"
      />
      <PhotoTableRow
        year="2017"
        country="Italy"
        location="Rome"
        link="https://goo.gl/photos/i795FTr5DWyyP1DL6"
      />
      <PhotoTableRow
        year="2017"
        country="Finland"
        location="Helsinki"
        link="https://goo.gl/photos/jV8gaKwyMTjYet727"
      />
      <PhotoTableRow
        year="2017"
        country="England"
        location="Bletchley Park"
        link="https://goo.gl/photos/nx3V86foD4Yejgkx7"
      />
      <PhotoTableRow
        year="2017"
        country="Greece"
        location="Athens"
        link="https://goo.gl/photos/MaZpPjw2a2S35bux6"
      />
      <PhotoTableRow
        year="2017"
        country="The Netherlands"
        location="Amsterdam"
        link="https://goo.gl/photos/JLYdGjwv33T15pEQ8"
      />
      <PhotoTableRow
        year="2017"
        country="United States"
        location="Hawaii - Big Island"
        link="https://goo.gl/photos/Y6rHwfVrGqbbqexg8"
      />
      <PhotoTableRow
        year="2017"
        country="United States"
        location="Hawaii - Oahu"
        link="https://goo.gl/photos/JfELjFuwYnZiW2cm8"
      />
      <PhotoTableRow
        year="2017"
        country="Czechia"
        location="Prague"
        link="https://goo.gl/photos/c4fi4JTabPuvu2ti7"
      />
      <PhotoTableRow
        year="2017"
        country="Germany"
        location="Frankfurt"
        link="https://goo.gl/photos/tdVmEewa682aTbUo7"
      />
      <PhotoTableRow
        year="2017"
        country="United States"
        location="Las Vegas"
        link="https://goo.gl/photos/kFfXb2BL9y5mjPzd6"
      />
      <PhotoTableRow
        year="2017"
        country="United States"
        location="Los Angeles"
        link="https://goo.gl/photos/uuvsA7NtL9xMV5Wo7"
      />
      <PhotoTableRow
        year="2017"
        country="United States"
        location="San Francisco"
        link="https://goo.gl/photos/XUBMzoEwhVmG72kg6"
      />
      <PhotoTableRow
        year="2017"
        country="United States"
        location="Seattle"
        link="https://goo.gl/photos/eHL2is8du2Shq1op7"
      />
      <PhotoTableRow
        year="2017"
        country="Canada"
        location="Victoria"
        link="https://goo.gl/photos/X2sndVzFq5R2DzrC9"
      />
      <PhotoTableRow
        year="2017"
        country="Romania"
        location="Bucharest"
        link="https://goo.gl/photos/SxrUcxMkpWR9Q1Bi9"
      />
      <PhotoTableRow
        year="2017"
        country="England"
        location="Dorest"
        link="https://goo.gl/photos/T6ky7o63Z8JSLUhk7"
      />
      <PhotoTableRow
        year="2017"
        country="Oslo"
        location="Norway"
        link="https://goo.gl/photos/yydHS28Y57sFSuXCA"
      />
      <PhotoTableRow
        year="2016"
        country="Japan"
        location="Tokyo"
        link="https://goo.gl/photos/xdsJ8onnnKFoANWA9"
      />
      <PhotoTableRow
        year="2016"
        country="Japan"
        location="Mount Fuji"
        link="https://goo.gl/photos/QYCdbrCE32NQC9hs7"
      />
      <PhotoTableRow
        year="2016"
        country="Japan"
        location="Miyajima"
        link="https://goo.gl/photos/MbZziVkm1mABJ2kw5"
      />
      <PhotoTableRow
        year="2016"
        country="Japan"
        location="Kobe"
        link="https://goo.gl/photos/nX2sLN4T3zu5pAd87"
      />
      <PhotoTableRow
        year="2016"
        country="Japan"
        location="Osaka"
        link="https://goo.gl/photos/akDCjWb64m1Kx4jBA"
      />
      <PhotoTableRow
        year="2016"
        country="Japan"
        location="Nagoya"
        link="https://goo.gl/photos/y68j7MxJSsiNTTJD6"
      />
      <PhotoTableRow
        year="2016"
        country="Japan"
        location="Kiso Valley"
        link="https://goo.gl/photos/HQ5wgh4ce7w27CS5A"
      />
      <PhotoTableRow
        year="2016"
        country="Japan"
        location="Hiroshima"
        link="https://photos.app.goo.gl/acx1GWDKPXjC62Bk9"
      />
      <PhotoTableRow
        year="2016"
        country="Portugal"
        location="Porto"
        link="https://goo.gl/photos/5EKksorNneD8JjR56"
      />
      <PhotoTableRow
        year="2016"
        country="Spain"
        location="Madrid"
        link="https://goo.gl/photos/FmJQUSo1G24VU41a6"
      />
      <PhotoTableRow
        year="2016"
        country="United States"
        location="Hawaii - Oahu"
        link="https://goo.gl/photos/UgrS2q338ZvchjFx8"
      />
      <PhotoTableRow
        year="2016"
        country="United States"
        location="Hawaii - Maui"
        link="https://goo.gl/photos/s8DJnGQxJz7spT6G6"
      />
      <PhotoTableRow
        year="2015"
        country="Wales"
        location="Cardiff"
        link="https://goo.gl/photos/V86GcKHEfD6qyetA6"
      />
      <PhotoTableRow
        year="2015"
        country="Finland"
        location="Helsinki"
        link="https://photos.app.goo.gl/QEw4vk6Nra84xxKt6"
      />
      <PhotoTableRow
        year="2015"
        country="United States"
        location="Northern California"
        link="https://goo.gl/photos/tTyfEZo2kFvYgfpF8"
      />
      <PhotoTableRow
        year="2015"
        country="Monaco"
        location="Monte Carlo"
        link="https://goo.gl/photos/n5hUxKa3TSZuUNnL9"
      />
      <PhotoTableRow
        year="2015"
        country="England"
        location="Liverpool"
        link="https://goo.gl/photos/XsGeFpm5BvCU5Se4A"
      />
      <PhotoTableRow
        year="2015"
        country="Sweden"
        location="Stockholm"
        link="https://goo.gl/photos/ufSddvQiqc7nDuuj7"
      />
      <PhotoTableRow
        year="2015"
        country="Belgium"
        location="Brussels"
        link="https://goo.gl/photos/L6vbkPs1uKHy7yz46"
      />
      <PhotoTableRow
        year="2015"
        country="Belgium"
        location="Brussels"
        link="https://goo.gl/photos/L6vbkPs1uKHy7yz46"
      />
      <PhotoTableRow
        year="2014"
        country="United States"
        location="Boston"
        link="https://goo.gl/photos/nZ4ghtfCAhZuRxjB9"
      />
      <PhotoTableRow
        year="2014"
        country="United States"
        location="New York"
        link="https://goo.gl/photos/kg6uPX1AULFoqRBDA"
      />
      <PhotoTableRow
        year="2014"
        country="United States"
        location="Washington DC"
        link="https://goo.gl/photos/wiN7QQLX6UshdZhM7"
      />
      <PhotoTableRow
        year="2013"
        country="United States"
        location="San Francisco"
        link="https://goo.gl/photos/x5BqmT3pqsAaNeND8"
      />
      <PhotoTableRow
        year="2012"
        country="England"
        location="London"
        link="https://goo.gl/photos/bmtiTQ8c9PXGyTzm8"
      />
    </tbody>
  </table>
  <Footer />
</html>
