---
const { question, answer } = Astro.props;
---

<div class="faq-question">
    <h1 class="faq-page">
        {question}
    </h1>
    <div class="faq-body">
        <p set:html={answer}>
        </p>
    </div>
</div>
<hr class="hr-line">