---
const today = new Date();
---


<footer>
	&copy; {today.getFullYear()} David Groves. See <a href="https://github.com/davidgroves/www.fibrecat.org/">Github</a> for sources. Built with <a href="https://astro.build/">Astro</a>.
</footer>
